###################################################################################
#
# Copyright (C) 2011 - 2012 Talend Inc. - www.talend.com
# All rights reserved.
#
# This program and the accompanying materials are made available
# under the terms of the Apache License v2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
#
###################################################################################

# This is template of jmx4perl plugin configuration for CXF enpoint monitoring
# Define server connection parameters
<Server tesb_cxf>
   Url = http://jolokia_host:8040/jolokia
</Server>

# checks for CXF services

# Check state of CXF endpoint used as check comand for host 
<Check EndpointState>
   MBean = org.apache.cxf:bus.id=*,port="$0",service="$1",type=Bus.Service.Endpoint,instance.id=*
   Attribute =  State
   Name = State
   Warning = !STARTED
</Check>

<Check NumInvocations>
   MBean =  org.apache.cxf:bus.id=*,type=Performance.Counter.Server,service="$1",port="$0"
   Attribute =  NumInvocations
#   If no Label set, the metrics value will be showed in the Status Information column
#   Label = $0:NumInvocations:
   Name = NumInvocations
   Critical 6000
   Warning 5000
</Check>

<Check TotalHandlingTime>
   MBean =  org.apache.cxf:bus.id=*,type=Performance.Counter.Server,service="$1",port="$0"
   Attribute =  TotalHandlingTime
#   Label = $0:TotalHandlingTime:
   Name = TotalHandlingTime
   Critical 6000000
   Warning 5000000
</Check>

<Check NumCheckedApplicationFaults>
   MBean =  org.apache.cxf:bus.id=*,type=Performance.Counter.Server,service="$1",port="$0"
   Attribute =  NumCheckedApplicationFaults
#   Label = $0:NumCheckedApplicationFaults:
   Name = NumCheckedApplicationFaults
   Critical 100
   Warning 1
</Check>

<Check NumLogicalRuntimeFaults>
   MBean =  org.apache.cxf:bus.id=*,type=Performance.Counter.Server,service="$1",port="$0"
   Attribute =  NumLogicalRuntimeFaults
#   Label = $0:NumLogicalRuntimeFaults:
   Name = NumLogicalRuntimeFaults
   Critical 100
   Warning 1
</Check>

<Check NumRuntimeFaults>
   MBean =  org.apache.cxf:bus.id=*,type=Performance.Counter.Server,service="$1",port="$0"
   Attribute =  NumRuntimeFaults
#   Label = $0:NumRuntimeFaults:
   Name = NumRuntimeFaults
   Critical 100
   Warning 1
</Check>

<Check NumUnCheckedApplicationFaults>
   MBean =  org.apache.cxf:bus.id=*,type=Performance.Counter.Server,service="$1",port="$0"
   Attribute = NumUnCheckedApplicationFaults
#   Label = $0:NumUnCheckedApplicationFaults:
   Name = NumUnCheckedApplicationFaults
   Critical 100
   Warning 1
</Check>

# Simple multicheck just to indicate there is no any fault
<MultiCheck AnyFaults>
  Check NumUnCheckedApplicationFaults
  Check NumRuntimeFaults
  Check NumLogicalRuntimeFaults
  Check NumCheckedApplicationFaults
</Check>