###
# #%L
# Talend :: ESB :: Job :: Controller
# %%
# Copyright (C) 2011 Talend Inc.
# %%
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# #L%
###

# Configuration for the client certificate which is used for the response encryption.
# Client sends the below configured certificate in the request to the provider, the provider if configured
# will use this certificate to encrypt the response sent to the client.
security.signature.properties = file:${tesb.home}/etc/keystores/clientKeystore.properties
security.signature.username = myclientkey
security.signature.password = ckpass

# Configuration of the service identifier used to lookup service's public certificte in the XKMS.
# If this property is not set or empty, the service QName will be used by default as the identifier.
#security.encryption.username =

