###
# #%L
# Talend :: ESB :: Job :: Controller
# %%
# Copyright (C) 2011 Talend Inc.
# %%
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# #L%
###

policy.username = ${tesb.home}/etc/org.talend.esb.job.token.policy
policy.saml = ${tesb.home}/etc/org.talend.esb.job.saml.policy
policy.saml.authz = ${tesb.home}/etc/org.talend.esb.job.saml.authz.policy
policy.saml.crypto = ${tesb.home}/etc/org.talend.esb.job.saml.crypto.policy
policy.saml.authz.crypto = ${tesb.home}/etc/org.talend.esb.job.saml.authz.crypto.policy

