<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2010 Talend Inc. - www.talend.com
-->
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jaxrs="http://cxf.apache.org/jaxrs"
      xmlns:jaxws="http://cxf.apache.org/jaxws"
      xmlns:soap="http://cxf.apache.org/bindings/soap"
      xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://cxf.apache.org/jaxrs
         http://cxf.apache.org/schemas/jaxrs.xsd
         http://cxf.apache.org/jaxws
         http://cxf.apache.org/schemas/jaxws.xsd">

     <import resource="classpath:META-INF/cxf/cxf.xml" />

     <jaxrs:server id="hello_rest" address="/rest-hello">
       <jaxrs:serviceBeans>
         <ref bean="hello-world-bean"/>
       </jaxrs:serviceBeans>		   
     </jaxrs:server>

     <jaxws:endpoint xmlns:s="http://hello.com"
         serviceName="s:HelloWorld"
         endpointName="s:HelloWorldPort"
         id="hello_soap"
         implementor="#hello-world-bean"
         address="/soap-hello"/>      

     <bean id="hello-world-bean" class="service.codefirst.HelloWorldImpl"/>
</beans>

