<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <servers>
		<server>
			<id>archiva.repo-release</id>
			<username>tadmin</username>
			<password>tadmin</password>
		</server>
		<server>
			<id>archiva.repo-snapshot</id>
			<username>tadmin</username>
			<password>tadmin</password>
		</server>
  </servers>


</settings>

