<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2010 Talend Inc. - www.talend.com
-->
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jaxrs="http://cxf.apache.org/jaxrs"
      xmlns:jaxws="http://cxf.apache.org/jaxws"
      xmlns:soap="http://cxf.apache.org/bindings/soap"
      xmlns:util="http://www.springframework.org/schema/util"
      xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://www.springframework.org/schema/util 
         http://www.springframework.org/schema/util/spring-util-2.0.xsd
         http://cxf.apache.org/jaxrs
         http://cxf.apache.org/schemas/jaxrs.xsd
         http://cxf.apache.org/jaxws
         http://cxf.apache.org/schemas/jaxws.xsd">

     <import resource="classpath:META-INF/cxf/cxf.xml" />

     <jaxrs:server id="hello_rest" address="/hello-rest">
       <jaxrs:serviceBeans>
         <ref bean="hello-world-bean"/>
       </jaxrs:serviceBeans>
       <jaxrs:providers>
         <ref bean="authorizationFilter"/>
       </jaxrs:providers>		   
     </jaxrs:server>

     <jaxws:endpoint xmlns:s="http://hello.com"
         serviceName="s:HelloWorld"
         endpointName="s:HelloWorldPort"
         id="hello_soap"
         implementor="#hello-world-bean"
         address="/hello-soap">
         
        <jaxws:inInterceptors>
           <ref bean="authorizationInterceptor"/>
        </jaxws:inInterceptors> 
     </jaxws:endpoint>          

     <bean id="hello-world-bean" class="service.authorization.HelloWorldImpl"/>
     
     <bean id="authorizationInterceptor" 
          class="org.apache.cxf.interceptor.security.SimpleAuthorizingInterceptor">
         <property name="methodRolesMap" ref="rolesMap"/>
     </bean>

     <bean id="authorizationFilter" 
          class="org.apache.cxf.jaxrs.security.SimpleAuthorizingFilter">
         <property name="interceptor" ref="authorizationInterceptor"/>
     </bean>

     <util:map id="rolesMap">
         <entry key="sayHi" value="ROLE_USER ROLE_ADMIN"/>
         <entry key="sayHiToUser" value="ROLE_USER ROLE_ADMIN"/>
         <entry key="getUsers" value="ROLE_ADMIN"/>
         <entry key="echoUsers" value="ROLE_ADMIN"/>
     </util:map>
     
     
</beans>

