###
# #%L
# TESB :: Assembly
# %%
# Copyright (C) 2011 - 2012 Talend Inc.
# %%
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# #L%
###
#
# Respect individual bundle start level during feature startup
#
respectStartLvlDuringFeatureStartup=true

#
# Comma separated list of features repositories to register by default
#
featuresRepositories=\
    mvn:org.apache.karaf.features/standard/4.0.3/xml/features,\
    mvn:org.apache.karaf.features/spring/4.0.3/xml/features,\
    mvn:org.apache.karaf.features/enterprise/4.0.3/xml/features,\
    mvn:org.apache.activemq/activemq-karaf/5.11.3/xml/features,\
    mvn:org.apache.camel.karaf/apache-camel/2.15.4/xml/features,\
    mvn:org.apache-extras.camel-extra.karaf/camel-extra/2.15.4-SNAPSHOT/xml/features,\
    mvn:org.apache.cxf.karaf/apache-cxf/3.1.4/xml/features,\
    mvn:org.talend.esb/features/6.1.1/xml,\
    mvn:org.talend.esb.auxiliary.storage/auxiliary-storage-features/6.1.1/xml,\
    mvn:org.apache.jclouds.karaf/jclouds-karaf/1.8.1/xml/features

#
# Comma separated list of features to install at startup
#
featuresBoot=\
    (aries-blueprint, \
    bundle, \
    config, \
    deployer, \
    diagnostic, \
    feature, \
    instance, \
    jaas, \
    kar, \
    log, \
    management, \
    package, \
    service, \
    shell, \
    shell-compat, \
    ssh, \
    system, \
    wrap), \
    webconsole, \
    eventadmin, \
    spring-dm, \
    cxf-abdera, \
    cxf, \
    cxf-commands, \
    camel, \
    camel-cxf, \
    camel-jms,\
    tesb-sam-agent, \
    tesb-locator-client, \
    talend-job-controller, \
    camel-ftp, \
    camel-talendjob, \
    tesb-jmx-http-agent, \
    request-callback, \
    tesb-aux-client-rest

#
# Defines if the boot features are started in asynchronous mode (in a dedicated thread)
#
featuresBootAsynchronous=false
