<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2010 Talend Inc. - www.talend.com
-->
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jaxrs="http://cxf.apache.org/jaxrs"
      xmlns:jaxws="http://cxf.apache.org/jaxws"
      xmlns:soap="http://cxf.apache.org/bindings/soap"
      xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://cxf.apache.org/jaxrs
         http://cxf.apache.org/schemas/jaxrs.xsd
         http://cxf.apache.org/jaxws
         http://cxf.apache.org/schemas/jaxws.xsd">

     <import resource="classpath:META-INF/cxf/cxf.xml" />

     <jaxrs:server address="/jaxrs" 
                   modelRef="classpath:/data/model/CustomerService-jaxrs.xml">
       <jaxrs:serviceBeans>
         <ref bean="customer-bean"/>
       </jaxrs:serviceBeans>
       <jaxrs:providers>
         <ref bean="jaxb-provider"/>
         <bean class="service.description.NoCustomerExceptionMapper"/>
       </jaxrs:providers>		   
     </jaxrs:server>

     <bean id="jaxb-provider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
        <property name="unmarshallAsJaxbElement" value="true"/>
        <property name="marshallAsJaxbElement" value="true"/>
     </bean>

     <jaxws:endpoint implementor="#customer-bean" address="/jaxws"/>      

     <bean id="customer-bean" class="service.description.CustomerServiceImpl"/>
</beans>

